
@media (min-width: 576px) { 
    .fluid-input {
        width: 280px;
    }
}

@media (min-width: 768px) { 
    .fluid-input {
        width: 280px;
    }
}

@media (min-width: 992px) {
    .fluid-input {
        width: 500px;
    }
}

@media (min-width: 1200px) {
    .fluid-input {
        width: 500px;
    }
}

@media (min-width: 1400px) {
    .fluid-input {
        width: 500px;
    }
}